@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* ----CSS Custom Properties---- */
:root {
  /* Colors */
  --color-primary: hsl(0, 0%, 0%);

  --color-accent-400: hsl(0, 0%, 56%);
  --color-accent-300: hsl(0, 0%, 79%);
  --color-accent-200: hsl(0deg 0% 79.22% / 52.16%);

  --color-neutral-100: hsl(0, 0%, 100%);

  /* Font Family */
  --ff-primary: "Roboto", sans-serif;

  /* Font Sizes */
  --fs-large: 1.5rem;
  --fs-medium: 1rem;

  /* Spacing */
  --s-large: 3rem;
  --s-medium: 1.5rem;
  --s-small: 0.5rem;
}

* {
  font-family: var(--ff-primary);
}

/* ----General Styling---- */
.navbar::before {
  content: "";
  background: url(Images/Illustration_2.png) center/cover;
  position: absolute;
  width: 15rem;
  height: 15rem;
  z-index: -1;
  left: 15rem;
}

.navbar {
  position: relative;
  margin: var(--s-small) var(--s-medium);
  align-items: center;
}

.logo {
  margin-top: -1rem;
}

ul {
  list-style: none;
}

.nav-items {
  margin: 0 var(--s-large);
}

/* --Hero Section-- */
.hero {
  margin: var(--s-large);
}

.hero-image {
width: 50vw;
  position: relative;
  margin: auto;
}

form {
  position: relative;
}

form::before {
  content: "";
  background: url(Images/Illustration_2.png) center/cover;
  position: absolute;
  width: 30rem;
  height: 30rem;
  z-index: -1;
  left: -8rem;
}

form::after {
  content: "";
  background: url(Images/Illustration_1.png) center/cover;
  position: absolute;
  width: 20rem;
  height: 15rem;
  z-index: -1;
  right: -5rem;
  bottom: -2rem;
}

.input-fields {
  width: 40vw;
  flex-direction: column;
  align-items: center;
}

input,
textarea {
  margin: var(--s-medium) var(--s-medium);
  padding: var(--s-small);
  background-color: transparent;
}

input:focus,
textarea:focus{
    outline: none;
}

input {
  border: 0;
  border-bottom: 2px solid var(--color-accent-300);
}

textarea {
  border: 2px solid var(--color-accent-300);
  border-top: 0;
  width: 36vw;
}

.form-icons {
  flex-direction: column;
  align-items: center;
  margin-right: var(--s-small);
}

.form-icons svg {
  margin: 6rem 0 0;
}

/* --Footer Section-- */
footer{
    background-color: var(--color-accent-200);
}

.footer-links{
    justify-content: space-around;
    padding-top: var(--s-large);
}

.footer-links div{
    flex-direction: column;
    align-items:flex-start;
}

.footer-links div ul, .social-links div ul{
    padding: 0;
    align-items: center;

}

.social-links{
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 0px 5px 7px var(--color-accent-300);
}

.social-links svg{
    width: 25px;
    margin: 0 var(--s-small);
}

.social-links:nth-child(2){
    font-weight: bold;
    font-style: italic;
    color: hsl(0, 0%, 43%);
}

.social-links:last-child{
    font-weight: lighter;
    font-style:normal;
    color: var(--color-accent-400);
}

/* ----Utility Classes---- */
.flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.link {
  text-decoration: none;
  color: var(--color-accent-400);
}

.btn {
  width: 5.5rem;
  margin-top: var(--s-medium);
  background: transparent;
  border: 2px solid var(--color-accent-300);
  cursor: pointer;
  color: var(--color-accent-400);
}

/* Font Sizes */

.fs-medium {
  font-size: var(--fs-medium);
}

.fs-large {
  font-size: var(--fs-large);
}